@media screen {
  html,
  body {
    height: 100%;
  }
  #app {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #app .left-content {
    width: 100%;
    height: auto;
  }
  #app .left-content .head {
    background-color: #000;
    opacity: 0.5;
    height: 44px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  #app .left-content .head h1 {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 19px;
    line-height: 44px;
  }
  #app .left-content .content-video {
    height: auto;
    font-size: 0;
  }
  #app .left-content .content-video #video {
    width: 100%;
  }
  #app .left-content .content-video .video-controls {
    display: none;
  }
  #app .right-wrap {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #app .right-wrap .alert-hongbao {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.3);
  }
  #app .right-wrap .alert-hongbao .content-hongbao {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 50%;
  }
  #app .right-wrap .alert-hongbao .content-hongbao .hongbao-button {
    display: flex;
    justify-content: center;
  }
  #app .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #app .right-content .head {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dcdcdc;
    min-height: 40px;
    height: 40px;
    padding: 0 20px;
  }
  #app .right-content .head .spance {
    flex: 1;
  }
  #app .right-content .head #people-num {
    flex: 1;
    font-size: 16px;
  }
  #app .right-content .head .im-controls {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  #app .right-content .head .im-controls .clear-im {
    margin-right: 18px;
  }
  #app .right-content .head .im-controls img {
    height: 22px;
  }
  #app .right-content .content-im {
    flex: 6;
    height: auto;
    overflow: auto;
  }
  #app .right-content .content-im img {
    height: 1em;
    width: 1em;
  }
  #app .right-content .foot {
    display: flex;
    background-color: #eee;
    justify-content: space-around;
    min-height: 40px;
    height: 55px;
    align-items: center;
    padding: 0 5px;
    border-top: 1px solid #dcdcdc;
  }
  #app .right-content .foot img {
    height: 30px;
  }
  #app .right-content .foot .flower-control {
    display: block !important;
    margin: 0 5px;
  }
  #app .right-content .foot .flower-controlhover {
    background-color: red;
  }
  #app .right-content .foot .flower-control .flower-content {
    display: none;
  }
  #app .right-content .foot #expression {
    margin: 0 5px;
  }
  #app .right-content .foot #expressionhover {
    background-color: red;
  }
  #app .right-content .foot #inputBar {
    flex: 7;
    margin: 0 5px;
  }
  #app .right-content .foot #inputBar input {
    height: 40px;
    border-radius: 20px;
  }
  #app .right-content .foot #send {
    margin: 0 5px;
  }
  #app .right-content .foot #send:active {
    background-color: red;
  }
  #app #expression-div {
    max-height: 50%;
  }
  #app #expression-div .express-wrap {
    height: 100%;
    overflow: auto;
  }
  #app #expression-div img {
    width: 10%;
  }
  #app .right-content-flower {
    height: 175px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #app .right-content-flower .content-im {
    height: 125px;
    display: flex;
    flex-direction: row;
  }
  #app .right-content-flower .content-im .flower {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #app .right-content-flower .content-im .flower .flower-item-wrap {
    height: 75px;
    width: 75px;
  }
  #app .right-content-flower .content-im .flower img {
    height: 75px;
  }
  #app .right-content-flower .content-im .flower .flower-name {
    font-size: 11px;
    margin-top: 7px;
  }
  #app .right-content-flower .content-im .flower .flower-name span {
    margin-left: 5px;
    color: #4dbcff;
  }
  #app .right-content-flower .content-im .flower .select {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #app .right-content-flower .content-im .flower .select.ons {
    display: none;
  }
  #app .right-content-flower .content-im .flower.active .select {
    display: none;
  }
  #app .right-content-flower .content-im .flower.active .select.ons {
    display: block;
  }
  #app .right-content-flower .foot {
    height: 50px;
    display: flex;
    border-top: 1px solid #eee;
    align-items: center;
    padding: 0 10px;
  }
  #app .right-content-flower .foot .gold-num {
    flex: 1;
  }
  #app .right-content-flower .foot .gold-num p span {
    color: #4dbcff;
    font-size: 14px;
  }
  #app .right-content-flower .foot .send-control {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  #app .right-content-question-1 .content-im .question-select {
    width: 50%;
    height: 50%;
    float: left;
  }
  #app .right-content-question-1 .content-im .question-select .select-wrap {
    height: 90px;
    width: 90px;
    border-radius: 45px;
    border: 1px solid #dcdcdc;
    font-size: 50px;
  }
  #app .right-content-question-1 .content-im .question-select.active .select-wrap {
    background-color: #20abff;
    color: #fff;
  }
  #app .right-content-question-1 .foot {
    display: flex;
    padding: 0 10px;
    background-color: #fff;
  }
  #app .right-content-question-1 .foot .answer {
    flex: 1;
    display: flex;
    align-items: center;
  }
  #app .right-content-question-1 .foot .answer span {
    font-size: 25px;
    color: #20abff;
  }
  #app .right-content-question-1 .foot .done {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  [v-cloak] {
    display: none;
  }
  .flex-box-cneter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
